
.btn-primary{
    background-color:#BA2032 !important;
    border-color:#BA2032 !important;
    border-radius: 12px !important;
    width: 250px;
    

}

.seat-number{
    margin: 0 0 0 20px;
}

.seat-number2{
    margin: 0 0 0 28px;
}