
.btn-primary{
    background-color:#BA2032 !important;
    border-color:#BA2032 !important;
    border-radius: 12px !important;
    width: 250px;
    

}

.seat-number{
    margin: 0 0 0 20px;
}

.seat-number2{
    margin: 0 0 0 28px;
}

.card-details{
    padding: 0 10px 0 0 ;
}
.form-control{
    border:none; /* Get rid of the browser's styling */
    border-bottom:1px solid black; 
   
}
.card-control{
    border:none; /* Get rid of the browser's styling */
    border-bottom:1px solid black; 
    width: 150px;
    

}

.ticket_output{
    padding-left: 20px;
}

